@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background: linear-gradient(-45deg, #f8b4aa, #f08080, #ffdde1, #ff9a9e);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    font-family: "Bungee", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body h2 {
    font-size: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.open-btn {
    background-color: white;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 26px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.open-btn:hover {
    transform: scale(1.1);
}

.open-btn img {
    width: 40px;
    height: auto;
}

.overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8b4aa;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}


.modal {
    background-color: white;
    width: 90vw; 
    max-width: 700px;
    aspect-ratio: 1 / 1; 
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    animation: popup .25s ease;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.overlay.active .modal {
    transform: scale(1);
}

.modal h2 {
    color: #f08080;
    padding-bottom: 10px;
}

.modal img {
    width: 100%;
    aspect-ratio: 1 / 1;  
    object-fit: cover;
    border-radius: 12px;
}

.upload-btn {
    background-color: #f08080;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 26px;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.upload-btn:hover {
    transform: scale(1.1);
}

@keyframes popup {
    from{
        transform: scale(0.8);
        opacity: 1;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.close-btn {
    background-color: #f08080;
    color: white;
    font-family: "Bungee", sans-serif;
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    padding: 10px 26px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.close-btn:hover {
    background: transparent;
    border-color: #f08080;
    color: #f08080;
}

#messageText {
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    font-family: "Bungee", sans-serif;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid #f08080;
    resize: none;
}